<h1>Coin Slot</h1>
<form action="/result">
  <div class="form-group">
    <label for="change">Put amount of cents here
    </label>
    <input id="change" name="change" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Send</button>
</form>
